/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css'); */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2')
    format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2')
    format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2')
    format('woff2');
  font-weight: 900;
  font-display: swap;
}

:root {
  --font-color: #374957;
  --font-color-light: #9fa9b1;
  --main-color: #3e9e7e;
  --hover-bg-color: #f5faf5;
  --default-hover-bg-color: #f5f5f5;

  --line-color: #e1e2e5;

  --table-border-color: #ddd;

  --default-bg: #f5f5f5;

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-xxl: 1.75rem; /* 28px */

  --size-xs: 0.75rem; /* 12px */
  --size-sm: 1rem; /* 16px */
  --size-df: 2rem;
  --size-lg: 2.5rem;

  --bdrs-sm: 10px;
  --bdrs-df: 15px;

  --success:#3E9E7E;
  --success-bg:#E9F5F1;
  --error:#E05252;
  --error-bg:#FDF2F2;
  --info:#4A90E2;
  --info-bg: #EBF5FF;
  --warning:#D99000;
  --warning-bg:#FFF9EB;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after { box-sizing: border-box; margin: 0; font-weight: normal; }
html { color: var(--color-font); font-size: 16px; font-family: 'Pretendard'; }
body { min-height: 100vh; transition: color 0.5s, background-color 0.5s; line-height: 1.4; }

#app { height: 100vh; overflow: hidden; }

.pointer { cursor: pointer; }
.c-default { cursor: default }
.h100vh { height: 100vh; }
.w100p {width: 100%;}

/* flex */
.d-flex { display: flex; }
.direct-col { flex-direction: column!important; }
.direct-row { flex-direction: row!important; }
.d-flex-grow1 { flex-grow: 1; }

/* grid */
.d-grid { display: grid; grid-template-columns: var(--grid-cols); }
.g-col-full { grid-column: 1/-1; }

.g5 { gap: 5px !important; }
.g10 { gap: 10px !important; }
.g15 { gap: 15px !important; }
.g20 { gap: 20px !important; }
.g30 { gap: 30px !important; }

.jc-space-b { justify-content: space-between; }
.jc-center { justify-content: center; }
.jc-end { justify-content: end; }
.ai-end { align-items: end; }
.ai-center { align-items: center; }


/* status badge */
.status-badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
white-space: nowrap;
}
.badge-running {
  border: 1px solid var(--main-color);
  color:#fff;
  background: var(--main-color);
}
.badge-closed {
  border: 1px solid #ddd;
  color: #aaa;
  background: #fff;
}
.badge-rejected {
  border: 1px solid #e74c3c;
  color: #fff;
  background: #e74c3c;
}
.badge-pending {
  border: 1px solid #f39c12;
  color: #fff;
  background: #f39c12;
}
.tbl-wrap .status-badge{
position: absolute;
      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/************************************************/
/*
.form-row {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.form-field {
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-field.full-width {
  width: 100%;
}
.field-label {
  color: #555;
  white-space: nowrap;
  min-width: 60px;
}
.field-label.top {
  align-self: flex-start;
  padding-top: 6px;
} */


/********************* button design *********************/
.btn-row {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.btn {
  font-size: var(--text-sm);
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--line-color);
  font-weight: 500;
  transition: opacity 0.2s;
  font-size: 1em;
}
.btn.btn-submit {
  background: var(--main-color);
  color: #fff;
}
.btn.btn-submit:hover,
.search-btn:hover {
  box-shadow: 0 0 10px var(--main-color);
  border-color:var(--main-color);
  filter: brightness(1.1);
}

.btn.btn-default {
  background: #fafafa;
  color: #999;
}

.btn.btn-default:hover {
  filter: brightness(0.9);
}

.btn.btn-line {
  border: 1px solid var(--line-color);
  background: #fff;
  color: var(--font-color-light);
}

.btn.btn-line:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}

.btn.btn-line.point {
  border-color:var(--main-color);
  background: #fff;
  color: var(--main-color);
}

.btn.btn-line.point:hover {
  background-color: var(--main-color);
  color: #fff;
}



/* 신청/취소 버튼 공통 스타일 */
.btn-register, .btn-register-del, .btn-register-success {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  font-size: var(--text-sm);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  width: 80px; /* 버튼 너비 통일 */
  margin: 0 auto;
}

/* 신청 버튼 (초록색 계열) */
.btn-register {
  background-color: var(--main-color);
  color: #fff;
}
.btn-register:hover {
  background-color: var(--hover-bg-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn-register:active {
  transform: translateY(1px); /*클릭을 하면 버튼이 아래로 조금 내려가서 눌리는 것처럼 보이게*/
}
/* 취소 버튼 (빨간색 계열) */
.btn-register-del {
  background-color: #fff;
  color: #e74c3c;
  border-color: #e74c3c;
}
.btn-register-del:hover {
  background-color: #e74c3c;
  color: #fff;
}
.btn-register-del:active {
  transform: translateY(1px);
}
/* 완료 버튼 (회색 계열) */
.btn-register-success {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
  border-color: #ddd;
}


.scrollbar {
  width: 250px;
  height: 250px;
  overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2px;
  }
::-webkit-scrollbar-track {
    background-color: var(--default-bg);
    border-radius: 10px;
    padding: 3px;
  }

/**************************** 애니메이션 ***********************/
  @keyframes shake {
  0%, 100% { transform: translateX(0) }
  20%       { transform: translateX(-8px) }
  40%       { transform: translateX(8px) }
  60%       { transform: translateX(-5px) }
  80%       { transform: translateX(5px) }
}

.shake {
  animation: shake 0.4s ease;
}
