
/************************* content header ( tab / filter / search )  ***********************/
.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  background: #fff;
  border: 1px solid var(--line-color);
  padding: 10px 15px;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 5px;
}
.filter-header{

}

/*************************** filter *************************/

/* 필터 그룹 전체 컨테이너 */
.filter-group{
  display: flex;
  gap: 15px;
  font-size: .94rem;
}

/* 개별 필터 아이템 (라벨 + 셀렉트) */
.filter-item {
  display: flex;
  gap: 10px; /* 각 필터 아이템 사이의 간격 */
  align-items: center;

}
.filter-item .input-wrap{
  grid-template-columns: min-content 1fr; gap: 8px;
}
.filter-item .input-content input:not([type='radio']){
  padding: 8px 15px;
  cursor: pointer;
  outline: none;
  min-width: 200px;
}
.filter-item .input-content select {
  padding: 7px 10px;
  cursor: pointer;
  outline: none;
}

.filter-item select:focus {
  border-color: var(--main-color);
}

/*search area design*/
.search-area {
  display: flex;
  gap: 5px;
  align-items: center;
}
.search-area input{min-width:180px;}
.search-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: background 0.2s;
  background: var(--main-color);
  color: #fff;
  padding: 8px 15px;
}

/******************* 필터 탭 버튼 **********************/
 .tab-area {
  display: flex;
  gap: 4px;
}
.tab-area .filter-btn {
  padding: 8px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  color: #555;
  cursor: pointer;
  transition: all 0.2s;
}
.tab-area .filter-btn.active {
  background: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
}
.tab-area .filter-btn:hover:not(.active) {
  background: #f5f5f5;
}

/************************* footer section ******************/

.footer-section{display: flex;justify-content: space-between;align-items: center;margin-top: 15px;}
.footer-section .btn-group{display: flex;justify-content: space-between;align-items: center;gap:5px;}

/*************************** info design **********************/
.data-header{display: flex;justify-content: space-between;align-items: end;}


/*************************** info design **********************/
.info-container{display: flex;    align-items: flex-start;}
/* .info-wrap {flex-wrap: wrap; flex-direction: row;} */
.info-card{flex-shrink: 0;width: var(--flex-width);}

.info-title{word-break: keep-all;display: flex;flex-direction: column;gap: 5px;}
.info-title h2{font-size: var(--text-xxl);font-weight: 600;line-height: 1.2;}
.info-title .info-detail{color: #999;}

.info-title-wrap{padding: 0;}
.info-img {width: 100%;}

.content-wrap.info-content{flex-grow:1;padding: 0;}

.info-wrap dl{display: flex;flex-direction: column;gap: 5px;font-size: 1.1em;}
.info-wrap dl dt{color: var(--main-color);font-weight: bold;font-size: var(--text-sm);}


.info-wrap h3{width: 100%;}

/*************************** table design **********************/
.tbl-wrap {
  width: 100%;
  display: grid;
}

.tbl-wrap .tbl-head,
.tbl-wrap .tbl-row {
  display: grid;
  grid-template-columns: var(--grid-cols);
  align-items: center;
  text-align: center;
}

.tbl-wrap .tbl-head {
  font-size: var(--text-sm);
  font-weight: bold;
  background: #f5f5f5;border-radius: 5px;margin-bottom: 5px;
  border: 1px solid var(--table-border-color);
}
.tbl-wrap .tbl-head div {
  padding: 10px;
}
.tbl-wrap .tbl-row {
  background: #fff;
  border: 1px solid var(--table-border-color);border-top-width: 0;
}
.tbl-wrap .tbl-row:nth-of-type(2){
  border-radius: 5px 5px 0 0;
  border-width: 1px;
}
.tbl-wrap .tbl-row:last-child{
  border-radius: 0 0 5px 5px;
}
.tbl-wrap .tbl-row:not(.no-hover):hover { /*class명에 'tbl-row no-hover' 이렇게 no-hover가 붙으면 hover 효과 없음 */
  background: var(--hover-bg-color);
  z-index: 2;
  color: #111;
}
.tbl-wrap .tbl-row div {
  padding: 12px 10px;
  line-height: 1.2;
  position: relative;
}

.tbl-wrap .no-data {
  text-align: center;
  color: #aaa;
  padding: 40px 0;
  background: #fff;
  border-radius: var(--bdrs-sm);
} /* 빈 row */

.tbl-wrap .row-disabled div {
  color: #ddd;
} /* 비활성 row */

.tbl-wrap .tbl-row .input-content{padding: 0;width: 100%;}
.tbl-wrap .tbl-row .input-content select{padding: 2px 5px;width:70px;}


/********************* form design *********************/
.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-grid {
  display: grid;
  grid-template-columns: var(--grid-cols);
  row-gap: 30px;
  padding: var(--size-df);
}
.form-wrap .content-wrap{padding: 0;gap: 0;}
.form-wrap .input-label{ white-space: normal;}

/********************* input design *********************/
.input-wrap {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 15px;
}
.input-label {
  text-align: right;
  font-weight: bold;
  line-height: 1.3;
  white-space: nowrap;
  word-break: keep-all;
}
.input-content {
  position: relative;width: fit-content;
}
.input-content.two-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.input-content.three-input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.input-wrap .input-content {
  width: 100%;
}

.input-content label {
  display: inline-block;position: relative;display: flex;gap:10px;
}
.input-content label:not(.radio-label) {
  width: 100%;
}
.input-content label.w200 {
  width: 200px;
}
.input-content select,
.input-content input:not([type='radio']),
.input-content textarea {
  border: 1px solid var(--table-border-color);
  border-radius: 4px;
  padding: 8px 10px;
  outline: none;
  transition: border-color 0.2s;
  width: 100%;
  background: #fcfcfc;
  color: var(--color-font);
}
.input-content input:focus,
.input-content select.active,
.input-content textarea:focus {
  border-color: var(--main-color);
  background: #fff;
}

.input-content textarea{min-height: 200px;}

.input-content input:disabled {  background: #f5f5f5;  color: #ccc;}

.input-grid2 {  grid-column: span 2;}
.input-grid3 {  grid-column: span 3;}
.input-grid-full {  grid-column:1/-1;}

.btn.in-input{background-color: var(--main-color);color: #fff;width: 30px;height: 30px;position: absolute;top: 50%;transform: translateY(-50%);right: 3px;z-index: 1;padding: 0;}
.btn.in-input:hover{filter: brightness(1.1);}

/********************* radio design *********************/
.radio-group {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 1.1em;
  width: auto;
}
.radio-label {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
}
.radio-label:before{
  content: '';
  position: absolute;
  left: 0;width: 12px;height: 12px;
  border: 1px solid #999;
  border-radius: 50%;
}
.radio-label:after{
  content: '';
  position: absolute;
  left: 2px;width: 8px;height:8px;
  border-radius: 50%;
  display: none;
}
.radio-label input[type='radio'] { display: none;}
.radio-label:has(input[type='radio']:checked):before{
  border-color: var(--main-color);
}
.radio-label:has(input[type='radio']:checked):after{
  display: block;
  background: var(--main-color);
}

.radio-tab { justify-content: center;gap: 5px;}
.radio-tab .radio-label { background: #fafafa; color: #999; border: 1px solid var(--line-color); max-width: 200px;width: 100%; background: #fff;  border-radius: 50px; justify-content: center; gap: 5px; padding:8px 5px;}
.radio-tab .radio-label:hover{}
.radio-tab .radio-label:has(input[type='radio']:checked) { background: var(--main-color);  color: #fff;  border-color: var(--main-color);}
.radio-tab .radio-label input[type='radio'] { display: none;}

.radio-tab .radio-label:before,
.radio-tab .radio-label:after {display: none;}
