*,
*::before,
*::after { box-sizing: border-box; margin: 0; font-weight: normal; }
html { color: var(--color-font); font-size: 16px; font-family: 'Pretendard'; }
body { min-height: 100vh; transition: color 0.5s, background-color 0.5s; line-height: 1.4; }

#app { height: 100vh; overflow: hidden; }

.pointer { cursor: pointer; }
.c-default { cursor: default }
.h100vh { height: 100vh; }
.w100p {width: 100%;}

/* flex */
.d-flex { display: flex; }
.direct-col { flex-direction: column!important; }
.direct-row { flex-direction: row!important; }
.d-flex-grow1 { flex-grow: 1; }

/* grid */
.d-grid { display: grid; grid-template-columns: var(--grid-cols); }
.g-col-full { grid-column: 1/-1; }

.g5 { gap: 5px !important; }
.g10 { gap: 10px !important; }
.g15 { gap: 15px !important; }
.g20 { gap: 20px !important; }
.g30 { gap: 30px !important; }

.jc-space-b { justify-content: space-between; }
.jc-center { justify-content: center; }
.jc-end { justify-content: end; }
.ai-end { align-items: end; }
.ai-center { align-items: center; }


.scrollbar {
  width: 250px;
  height: 250px;
  overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2px;
  }
::-webkit-scrollbar-track {
    background-color: var(--default-bg);
    border-radius: 10px;
    padding: 3px;
  }

/**************************** 애니메이션 ***********************/
  @keyframes shake {
  0%, 100% { transform: translateX(0) }
  20%       { transform: translateX(-8px) }
  40%       { transform: translateX(8px) }
  60%       { transform: translateX(-5px) }
  80%       { transform: translateX(5px) }
}

.shake {
  animation: shake 0.4s ease;
}
