/********************* button design *********************/
.btn-row {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.btn {
  font-size: var(--text-sm);
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--line-color);
  font-weight: 500;
  transition: opacity 0.2s;
  font-size: 1em;
}
.btn.btn-submit {
  background: var(--main-color);
  color: #fff;
}
.btn.btn-submit:hover,
.search-btn:hover {
  box-shadow: 0 0 10px var(--main-color);
  border-color: var(--main-color);
  filter: brightness(1.1);
}

.btn.btn-default {
  background: #fafafa;
  color: #999;
}

.btn.btn-default:hover {
  filter: brightness(0.9);
}

.btn.btn-line {
  border: 1px solid var(--line-color);
  background: #fff;
  color: var(--font-color-light);
}

.btn.btn-line:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}

.btn.btn-line.point {
  border-color: var(--main-color);
  background: #fff;
  color: var(--main-color);
}

.btn.btn-line.point:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* 신청/취소 버튼 공통 스타일 */
.btn-register,
.btn-register-del,
.btn-register-success {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  font-size: var(--text-sm);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  width: 80px; /* 버튼 너비 통일 */
  margin: 0 auto;
}

/* 신청 버튼 (초록색 계열) */
.btn-register {
  background-color: var(--main-color);
  color: #fff;
}
.btn-register:hover {
  background-color: var(--hover-bg-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn-register:active {
  transform: translateY(1px); /*클릭을 하면 버튼이 아래로 조금 내려가서 눌리는 것처럼 보이게*/
}
/* 취소 버튼 (빨간색 계열) */
.btn-register-del {
  background-color: #fff;
  color: #e74c3c;
  border-color: #e74c3c;
}
.btn-register-del:hover {
  background-color: #e74c3c;
  color: #fff;
}
.btn-register-del:active {
  transform: translateY(1px);
}
/* 완료 버튼 (회색 계열) */
.btn-register-success {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
  border-color: #ddd;
}
